# Virtual environments
venv/

# Environment variables
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pdb

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
Thumbs.db
.DS_Store
